@import './batb-1';
@import './batb-11';
@import './batb-12';

@mixin battles-debug() {
  &--round {
    display: none;

    &-5 {
      display: block;

      :global(.battle) {
        &:before {
          position: absolute;
          top: 0;
          left: 0;
          content: '';
          height: 100px;
          width: 100%;
          background: rgba(255, 255, 255, 0.5);
        }
      }
    }
  }
}
