:global(.active-bracket-12) {
  --text-color: white;
  --primary-color: #B20C1E;
  --accent-color: #6AAB1B;

  --youtube-title-color: var(--accent-color);
  --youtube-close-bgcolor: var(--accent-color);
  --youtube-close-color: var(--text-color);

  --playlist-left: 836px;
  --playlist-top: 75px;
  --playlist-width: 218px;
  --playlist-height: 187px;
  --playlist-hover-border-color: var(--accent-color);
}

@mixin battles-12 ($battles) {
  &--round {
    &-1 {
      width: 253px;

      &#{$battles} {
        &--lt {
          left: 68px;
          top: 65px;
        }

        &--lb {
          left: 68px;
          top: 494px;
        }

        &--rt {
          right: 65px;
          top: 65px;
        }

        &--rb {
          right: 65px;
          top: 494px;
        }
      }
    }

    &-2 {
      width: 250px;

      &#{$battles} {
        &--lt {
          left: 200px;
          top: 80px;
        }

        &--lb {
          left: 200px;
          top: 507px;
        }

        &--rt {
          right: 198px;
          top: 80px;
        }

        &--rb {
          right: 198px;
          top: 507px;
        }
      }
    }

    &-3 {
      width: 250px;

      &#{$battles} {
        &--l {
          left: 326px;
          top: 108px;
        }

        &--r {
          right: 326px;
          top: 107px;
        }
      }
    }

    &-4 {
      width: 250px;

      &#{$battles} {
        &--l {
          left: 457px;
          top: 162px;
        }

        &--r {
          right: 457px;
          top: 162px;
        }
      }
    }

    &-5 {
      width: 244px;

      &#{$battles} {
        &--l {
          left: 713px;
          top: 400px;
        }

        &--r {
          left: 713px;
          top: 548px;
        }
      }
    }

    &-6 {
      width: 244px;

      &#{$battles} {
        &--m {
          left: 713px;
          top: 476px;
        }

        &--3rd {
          left: 713px;
          top: 619px;
        }
      }
    }
  }
}

@mixin battle-12($battle) {
  #{$battle} {
    // youtube opener
    &__link {
      color: #fff;

      &::before,
      &::after {
        background: #B20C1E;
        color: #fff;
      }
    }

    // SKATE result over last round
    &__label {
      color: #fff;

      &:hover {
        color: #69B421;
      }

      &::before,
      &::after {
        background: #69B421;
        color: #000;
      }
    }

    &--1 {
      top: 13px;
    }

    &--2 {
      top: 67px;
    }

    &--3 {
      top: 120px;
    }

    &--4 {
      top: 174px;
    }

    &--5 {
      top: 227px;
    }

    &--6 {
      top: 281px;
    }

    &--7 {
      top: 333px;
    }

    &--8 {
      top: 387px;
    }
  }

  :global(.battles--round-2) #{$battle} {
    &__label,
    &__link {
      &::before {
        top: -200%;
      }

      &::after {
        top: 200%;
      }
    }

    &--1 {
      top: 25px;
    }

    &--2 {
      top: 132px;
    }

    &--3 {
      top: 239px;
    }

    &--4 {
      top: 347px;
    }
  }

  :global(.battles--round-3) #{$battle} {
    &__link,
    &__label {
      &::before {
        top: -55px
      }

      &::after {
        top: 55px
      }
    }

    &--1 {
      top: 52px;
    }

    &--2 {
      top: 266px;
    }

    &--3 {
      top: 477px;
    }

    &--4 {
      top: 693px;
    }
  }

  :global(.battles--round-4) #{$battle} {
    &__link,
    &__label {
      &::before {
        top: -105px
      }

      &::after {
        top: 108px
      }
    }

    &--1 {
      top: 104px;
    }

    &--2 {
      top: 531px;
    }
  }

  :global(.battles--round-5) #{$battle} {
    &--l #{$battle} {
      &__link,
      &__label {
        &::before {
          top: -148px;
          left: -125px;
        }

        &::after {
          top: 281px;
          left: -125px;
        }
      }
    }

    &--r #{$battle} {
      &__link,
      &__label {
        &::before {
          top: -295px;
          right: -125px;
        }

        &::after {
          top: 132px;
          right: -125px;
        }
      }
    }

    &--1 {
      text-align: center;
    }
  }

  :global(.battles--round-6) {
    #{$battle}--1 {
      text-align: center;

      &#{$battle}--m {
        &::before {
          content: "1st:";
          font-weight: bold;
          color: #69B421;
        }

        #{$battle} {
          &__link,
          &__label {
            &::before {
              top: -88px;
              right: 60px;
            }

            &::after {
              top: 58px;
              right: 60px;
            }
          }
        }
      }

      &#{$battle}--3rd {
        &::before {
          content: "3rd:";
          font-weight: bold;
          color: #B20C1E;
        }

        #{$battle} {
          &__link,
          &__label {
            &::before {
              top: -380px;
              right: 248px;
            }

            &::after {
              top: 48px;
              right: -126px;
            }
          }
        }
      }
    }
  }
}
