:global(.active-bracket-11) {
  --youtube-title-color: #DE5E1B;
  --youtube-close-bgcolor: #DE5E1B;
  --youtube-close-color: white;

  --playlist-left: 823px;
  --playlist-top: 27px;
  --playlist-width: 223px;
  --playlist-height: 211px;
  --playlist-hover-border-color: #DE5E1B;
}

@mixin battles-11($battles) {
  &--round {
    &-1 {
      width: 305px;

      &#{$battles} {
        &--lt {
          left: 15px;
          top: 60px;
        }

        &--lb {
          left: 15px;
          top: 500px;
        }

        &--rt {
          right: 30px;
          top: 60px;
        }

        &--rb {
          right: 30px;
          top: 500px;
        }
      }
    }

    &-2 {
      width: 285px;

      &#{$battles} {
        &--lt {
          left: 180px;
          top: 80px;
        }

        &--lb {
          left: 180px;
          top: 525px;
        }

        &--rt {
          right: 195px;
          top: 80px;
        }

        &--rb {
          right: 195px;
          top: 525px;
        }
      }
    }

    &-3 {
      width: 363px;

      &#{$battles} {
        &--l {
          left: 331px;
          top: 130px;
        }

        &--r {
          right: 344px;
          top: 130px;
        }
      }
    }

    &-4 {
      width: 446px;

      &#{$battles} {
        &--l {
          left: 478px;
          top: 240px;
        }

        &--r {
          right: 490px;
          top: 240px;
        }
      }
    }
  }
}

@mixin battle-11 ($battle) {
  #{$battle} {
    &__link {
      color: #fff;

      &:hover {
        color: #B20C1E;
      }

      &::before,
      &::after {
        background: #B20C1E;
        color: #fff;
      }
    }

    &--1 {
      top: 23px;
    }

    &--2 {
      top: 125px;
    }

    &--3 {
      top: 245px;
    }

    &--4 {
      top: 345px;
    }
  }

  :global(.battles--round-2) #{$battle} {
    &--1 {
      top: 52px;
    }

    &--2 {
      top: 276px;
    }
  }

  :global(.battles--round-3) #{$battle} {
    &--1 {
      top: 112px;
    }

    &--2 {
      top: 554px;
    }
  }
}
