@mixin comp-brackets-1 {
  .playlist {
    left: 713px;
    top: 27px;
    width: 218px;
    height: 210px;

    &:hover {
      border-color: #DE5E1B;
    }
  }
}

@mixin comp-youtube-1($selector) {
  #{$selector} {
    &__title {
      span {
        color: #DE5E1B;
      }
    }

    &__close {
      background: #DE5E1B;
      color: white;
    }
  }
}

@mixin comp-battles-1 {
  &--round {
    &-1 {
      width: 274px;

      &#{$selector} {
        &--lt {
          left: 15px;
          top: 7px;
        }

        &--lb {
          left: 15px;
          top: 500px;
        }

        &--rt {
          right: 30px;
          top: 7px;
        }

        &--rb {
          right: 30px;
          top: 500px;
        }
      }
    }

    &-2 {
      width: 285px;

      &#{$selector} {
        &--lt {
          left: 153px;
          top: 32px;
        }

        &--lb {
          left: 180px;
          top: 525px;
        }

        &--rt {
          right: 195px;
          top: 80px;
        }

        &--rb {
          right: 195px;
          top: 525px;
        }
      }
    }

    &-3 {
      width: 363px;

      &#{$selector} {
        &--l {
          left: 331px;
          top: 80px;
        }

        &--r {
          right: 344px;
          top: 80px;
        }
      }
    }

    &-4 {
      width: 363px;

      &#{$selector} {
        &--l {
          left: 331px;
          top: 80px;
        }

        &--r {
          right: 344px;
          top: 80px;
        }
      }
    }
  }
}

@mixin comp-battle-1($selector) {
  #{$selector} {
    &__link,
    &__label {
      &::before,
      &::after {
        background: #000;
        text-align: right;
        color: #fff;
        width: 47%;
      }

      &::before {
        top: -40%;
      }

      &::after {
        top: 210%;
      }
    }

    &__link {
      color: #fff;

      &:hover {
        color: #B20C1E;
      }

      &::before,
      &::after {
        color: #fff;
      }
    }

    &__label {
      span {
        background: #000;
      }
    }

    &--1 {
      top: 23px;
    }

    &--2 {
      top: 127px;
    }

    &--3 {
      top: 233px;
    }

    &--4 {
      top: 337px;
    }
  }

  :global(.battles--round-2) #{$selector} {
    &--1 {
      top: 49px;
    }

    &--2 {
      top: 260px;
    }
  }

  :global(.battles--round-3) #{$selector} {
    &--1 {
      top: 163px;
    }

    &--2 {
      top: 605px;
    }
  }
}
