@mixin comp-brackets-12 {
  .playlist {
    left: 836px;
    top: 75px;
    width: 218px;
    height: 187px;

    &:hover {
      border: solid 1px #B20C1E;
    }
  }
}

@mixin comp-battles-12 {
  &--round {
    &-1 {
      width: 253px;

      &#{$selector} {
        &--lt {
          left: 68px;
          top: 65px;
        }

        &--lb {
          left: 68px;
          top: 494px;
        }

        &--rt {
          right: 65px;
          top: 65px;
        }

        &--rb {
          right: 65px;
          top: 494px;
        }
      }
    }

    &-2 {
      width: 250px;

      &#{$selector} {
        &--lt {
          left: 200px;
          top: 80px;
        }

        &--lb {
          left: 200px;
          top: 507px;
        }

        &--rt {
          right: 198px;
          top: 80px;
        }

        &--rb {
          right: 198px;
          top: 507px;
        }
      }
    }

    &-3 {
      width: 250px;

      &#{$selector} {
        &--lt {
          left: 329px;
          top: 107px;
        }

        &--lb {
          left: 329px;
          top: 534px;
        }

        &--rt {
          right: 329px;
          top: 107px;
        }

        &--rb {
          right: 329px;
          top: 534px;
        }
      }
    }

    &-4 {
      width: 250px;

      &#{$selector} {
        &--l {
          left: 457px;
          top: 162px;
        }

        &--r {
          right: 457px;
          top: 162px;
        }
      }
    }

    &-5 {
      width: 244px;

      &#{$selector} {
        &--m {
          left: 713px;
          top: 415px;
        }

        &--3rd {
          height: 50px;
          left: 713px;
          top: 765px;
        }
      }
    }
  }
}

@mixin comp-battle-12($selector) {
  #{$selector} {
    &__link {
      color: #fff;

      &::before,
      &::after {
        background: #B20C1E;
        color: #fff;
      }
    }

    &__label {
      color: #fff;

      &:hover {
        color: #69B421;
      }

      &::before,
      &::after {
        background: #69B421;
        color: #000;
      }
    }

    &--1 {
      top: 13px;
    }

    &--2 {
      top: 67px;
    }

    &--3 {
      top: 120px;
    }

    &--4 {
      top: 174px;
    }

    &--5 {
      top: 227px;
    }

    &--6 {
      top: 281px;
    }

    &--7 {
      top: 333px;
    }

    &--8 {
      top: 387px;
    }
  }

  :global(.battles--round-2) #{$selector} {
    &__label,
    &__link {
      &::before {
        top: -200%;
      }

      &::after {
        top: 200%;
      }
    }

    &--1 {
      top: 25px;
    }

    &--2 {
      top: 132px;
    }

    &--3 {
      top: 239px;
    }

    &--4 {
      top: 347px;
    }
  }

  :global(.battles--round-3) #{$selector} {
    &--1 {
      top: 52px;
    }

    &--2 {
      top: 266px;
    }
  }

  :global(.battles--round-4) #{$selector} {
    &--1 {
      top: 104px;
    }

    &--2 {
      top: 531px;
    }
  }

  :global(.battles--m) #{$selector} {
    &--1 {
      top: 229px;
      text-align: center;
    }
  }

  :global(.battles--3rd) #{$selector} {
    &--1 {
      text-align: center;
    }
  }
}
